{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link href="{% static 'css/validationEngine.jquery.css' %}" rel='stylesheet'/>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validationEngine.js' %}"></script>
    <script src="{% static 'js/jquery.validationEngine-es.js' %}"></script>

    <script>
        $(function() {

            $("form").validationEngine({autoHidePrompt:true, autoHideDelay:1000 });

            $("#id_csv").addClass("validate[required]");

            envioformulario = function(){
                var valid = $("form").validationEngine('validate');
                if (valid){
                    var formdata = new FormData($("#formulario")[0]);
                    $.ajax({
                        type: "POST",
                        url: "/datacsv",
                        data: formdata,
                        success: function(data) {
                            if (data.result == 'ok') {
                                location.href = "/";
                            }
                            else {
                                alert(data.mensaje);
                            }
                        },
                        error: function() {
                            alert(data.mensaje);
                        },
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                } else {
                    $(".help-text").show();
                    setTimeout(function() {
                        $('.help-text').html("");
                    }, 3500);
                }
            };

            $("#formbutton").click(function(){
                envioformulario();
            });

        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class='row'>
        <div class='col-md-12' style="margin-top: 2em; text-align: center">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-6 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="glyphicon glyphicon-pencil pull-right"></i>
                            <h4>{{ title }}</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="formulario" class='form-horizontal' enctype="multipart/form-data">
                            {% for field in form %}
                                <div class="form-group">
                                    <label for="id_{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}</label>
                                    <div class="col-sm-9">
                                        {{ field }}
                                        <p class="help-text" style="color: red; text-align: left; display: none"> Must import a csv file</p>
                                    </div>
                                </div>
                            {% endfor %}
                            <p style="text-align: right;">
                                <a href="#" class="btn btn-success" id="formbutton"><i class="glyphicon glyphicon-upload"></i> Import</a>
                                <a href="/" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3"></div>
        </div>
    </div>
</div>
</body>
</html>